{
  "TOKEN": "ODg3Nzk5MzA3MjEyODI4Njcy.YUJZiQ.yARINzVcIMqocDDf7nO7KUkp7fc",
  "YOUTUBE_API_KEY": "AIzaSyAPTN-sJwWtqKRI031jGmME4eFUdtmca38",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
